/*
Defaults
----------------------------------------------------------------------------- */
/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */
.clearfix::after,
.entry::after,
.entry-content::after,
.site-footer::after,
.footer-widgets::after,
.site-header::after,
.pagination::after,
.site-container::after,
.site-inner::after,
.wrap::after {
	clear: both;
	content: " ";
	display: block;
}

html,
body {
	overflow-x: hidden;
}

/* Typography
--------------------------------------------- */
html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	color: #474e57;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.625;
}

::-moz-selection {
	background-color: #1c1e1f;
	color: #fff;
}

::selection {
	background-color: #1c1e1f;
	color: #fff;
}

a {
	color: #1079c2;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

a:hover {
	color: #1995ec;
}

a:active, a:focus {
	color: #1995ec;
	outline: none;
}

p {
	margin: 0 0 1.6rem;
	padding: 0;
}

@media only screen and (min-width: 810px) {
	p {
		margin-bottom: 2.6rem;
	}
}

b,
strong {
	font-weight: 600;
}

hr {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
	margin: 2rem 0;
}

pre {
	background: #f3f3f4;
	color: #1c1e1f;
	font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 1.6rem;
	margin-bottom: 2.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 3% 10% 3% 5%;
	position: relative;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	white-space: pre-wrap;
}

code,
kbd,
tt,
var {
	font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 1.6rem;
}

address {
	font-style: italic;
	margin: 0 0 2.6rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #e0e0e0;
	cursor: help;
}

mark,
ins {
	background: white;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: 0.5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	color: #5d646b;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	margin: 3rem;
}

blockquote cite {
	display: block;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	margin-top: 1.5rem;
}

blockquote cite::before {
	content: "\2014";
	padding-right: 1rem;
}

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: #1c1e1f;
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.25;
	margin: 0 0 1rem;
	text-rendering: optimizeLegibility;
}

h1,
.h1 {
	font-size: 3.2rem;
}

@media only screen and (min-width: 810px) {
	h1,
	.h1 {
		font-size: 4rem;
	}
}

h2,
.h2 {
	font-size: 2.6rem;
}

@media only screen and (min-width: 810px) {
	h2,
	.h2 {
		font-size: 3.2rem;
	}
}

h3,
.h3 {
	font-size: 2.2rem;
}

@media only screen and (min-width: 810px) {
	h3,
	.h3 {
		font-size: 2.8rem;
	}
}

h4,
.h4 {
	font-size: 1.8rem;
}

h5,
.h5 {
	font-size: 1.6rem;
}

h6,
.h6 {
	font-size: 1.6rem;
}

/* Media Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	margin: 0;
	max-width: 100%;
}

a:hover img,
a:focus img {
	opacity: 0.9;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

/* Forms
--------------------------------------------- */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	border: 0;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	font-size: 1.6rem;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	padding: 1rem;
	width: 100%;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	background-color: #f3f3f4;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
	color: #474e57;
	-webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
	transition: -webkit-box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
	        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(160, 160, 160, 0.7);
	outline: none;
}

input[type="color"] {
	padding: 0.5rem;
}

input[type="range"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	height: 28px;
	margin: 1rem 0;
	width: 100%;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #adadad;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #adadad;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #adadad;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: #e0e0e0;
	border: 0 none;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	cursor: pointer;
	height: 3px;
	width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	        appearance: none;
	background: #1c1e1f;
	border: 0 none;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
	cursor: pointer;
	height: 28px;
	margin-top: -1.4rem;
	width: 28px;
}

input[type="range"]::-moz-range-track {
	background: #e0e0e0;
	border-radius: 3px;
	cursor: pointer;
	height: 3px;
	width: 100%;
}

input[type="range"]::-moz-range-thumb {
	background: #1c1e1f;
	border: 0 none;
	border-radius: 100%;
	cursor: pointer;
	height: 28px;
	width: 28px;
}

input[type="range"]::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 3px;
	width: 100%;
}

input[type="range"]::-ms-fill-lower {
	background: #e0e0e0;
	border-radius: 3px;
}

input[type="range"]::-ms-fill-upper {
	background: #e0e0e0;
	border-radius: 3px;
}

input[type="range"]::-ms-thumb {
	background: #1c1e1f;
	border: 0 none;
	border-radius: 100%;
	cursor: pointer;
	height: 28px;
	margin-top: 0;
	width: 28px;
}

select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-image: url("images/select-bg.svg");
	background-position: right 5px center;
	background-repeat: no-repeat;
	-webkit-background-size: 10px 10px;
	        background-size: 10px;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 2rem;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #c7c6c6;
	font-weight: 400;
	opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #c7c6c6;
	font-weight: 400;
	opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #c7c6c6;
	font-weight: 400;
	opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #c7c6c6;
	font-weight: 400;
	opacity: 1;
}

input::placeholder,
textarea::placeholder {
	color: #c7c6c6;
	font-weight: 400;
	opacity: 1;
}

/* Tables
--------------------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 3rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #e0e0e0;
}

td,
th {
	border-top: 1px solid #e0e0e0;
	padding: 1rem 0;
	text-align: left;
}

th {
	font-weight: 400;
}

/* Lists
--------------------------------------------- */
ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

dl {
	margin: 0;
	padding: 0;
}

dl dt {
	font-weight: 600;
	margin-top: 1rem;
}

dl dd {
	margin: 0;
}

/* Buttons
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border: 0;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 1.6rem 2.4rem;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	width: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #1c1e1f;
	color: #fff;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover, button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus {
	background-color: #34383a;
	color: #fff;
}

.cta.button {
	background-color: #69c0fc;
	color: #fff;
}

.cta.button:hover, .cta.button:focus {
	background-color: #9bd5fd;
	color: #fff;
}

.entry-content .button:hover,
.entry-content .button:focus {
	color: #fff;
}

.block-button,
.block.button {
	display: block;
}

.entry-content .cta.button:hover,
.entry-content .cta.button:focus {
	color: #fff;
}

/*
Common Classes
----------------------------------------------------------------------------- */
/* Screen Readers
--------------------------------------------- */
.off-screen,
.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.off-screen:focus,
.screen-reader-text:focus {
	outline: 0;
}

.skip-link .screen-reader-text:focus {
	clip: auto;
	height: auto;
	margin: 2rem;
	padding: 1.5rem;
	width: auto;
	z-index: 100;
}

/* Avatar
--------------------------------------------- */
.avatar {
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	display: block;
}

@media only screen and (min-width: 480px) {
	.alignleft .avatar {
		margin-right: 2.4rem;
	}
}

/* Image Styles
--------------------------------------------- */
img.centered,
.aligncenter,
.alignleft,
.alignright,
img.alignnone,
.alignnone {
	display: block;
	margin: 0 auto 1.6rem;
	max-width: 100%;
}

@media only screen and (min-width: 810px) {
	img.centered,
	.aligncenter,
	.alignleft,
	.alignright,
	img.alignnone,
	.alignnone {
		margin-bottom: 2.6rem;
	}
}

@media only screen and (min-width: 480px) {
	.alignleft {
		float: left;
		text-align: left;
	}
	.alignright {
		float: right;
		text-align: right;
	}
	.alignright .avatar {
		margin-left: 3rem;
	}
	a.alignleft,
	img.alignleft,
	.wp-caption.alignleft {
		margin: 0 3rem 5rem 0;
	}
	a.alignright,
	img.alignright,
	.wp-caption.alignright {
		margin: 0 0 5rem 3rem;
	}
}

.wp-caption-text {
	text-align: center;
}

.wp-smiley,
.emoji {
	background: none;
	border: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	display: inline;
	height: 1em;
	margin: 0 0.2em;
	padding: 0;
	vertical-align: -0.1em;
	width: 1em;
}

/* Typography Formats
--------------------------------------------- */
.dropcap {
	float: left;
	font-size: 300%;
	line-height: 0.6;
	margin: 0.7rem 0.5rem 0 0;
}

@media only screen and (min-width: 810px) {
	.pull-quote {
		max-width: 60%;
	}
	.pull-quote.alignright {
		border-left: 0;
		border-right: 7px solid #f3f3f4;
		margin: 3rem 0 3rem 5%;
		padding: 0 5% 0 0;
	}
}

.intro-pagragraph {
	border-bottom: 1px solid #f3f3f4;
	border-top: 1px solid #f3f3f4;
	padding: 2rem 0;
}

body {
	max-width: 73.6842105263%;
}

body p,
body > ol,
body > ul,
body > dl {
	margin-bottom: 1.6rem;
}

@media only screen and (min-width: 810px) {
	body p,
	body > ol,
	body > ul,
	body > dl {
		margin-bottom: 2.6rem;
	}
}

body ol,
body ul {
	margin-left: 2rem;
}

@media only screen and (min-width: 810px) {
	body ol,
	body ul {
		margin-left: 4rem;
	}
}

body li {
	margin-bottom: 1%;
}

body ol > li {
	list-style-type: decimal;
}

body ul > li {
	list-style-type: disc;
}

body li ol,
body li ul {
	margin-top: 1%;
}

body blockquote {
	border-left: 7px solid #f3f3f4;
	margin: 4% 5% 4% 0;
	padding: 0 0 0 5%;
}

body table {
	border: 1px solid #e0e0e0;
	border-collapse: separate;
	border-left: 0;
	margin: 2rem 0;
	width: 100%;
}

body table th,
body table td {
	border-left: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	line-height: 1.2;
	padding: 1rem;
	text-align: left;
	vertical-align: top;
}

body table thead:first-child tr:first-child th,
body table tbody:first-child tr:first-child th,
body table tbody:first-child tr:first-child td {
	border-top: 0 none;
}

body code {
	background: #f3f3f4;
	color: #1c1e1f;
	padding: 0.2rem 0.4rem;
}

body .wp-caption .wp-caption-text {
	font-size: 1.2rem;
	letter-spacing: 1px;
	line-height: 1.2;
	margin: 1rem 0;
	text-transform: uppercase;
}

body .search-form {
	margin-bottom: 2.6rem;
}
/*# sourceMappingURL=editor-style.css.map */