%button-base {
	border: 0;
	border-radius: $base-border-radius;
	cursor: pointer;
	display: inline-block;
	font-size: $base-button-font-size;
	font-weight: 400;
	padding: 16px 24px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

%base-button-style {
	background-color: $base-button-bg-color;
	color: $base-button-font-color;

	&:hover,
	&:focus {
		background-color: $base-button-bg-color-hover;
		color: $base-button-font-color-hover;
	}
}

%cta-button-style {
	background-color: $cta-button-bg-color;
	color: $cta-button-font-color;

	&:hover,
	&:focus {
		background-color: $cta-button-bg-color-hover;
		color: $cta-button-font-color-hover;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	@extend %button-base;
	@extend %base-button-style;
}

.entry-content .button:hover,
.entry-content .button:focus {
	color: $base-button-font-color-hover;
}

.block-button,
.block.button {
	display: block;
}

.cta.button {
	@extend %cta-button-style;
}

.entry-content .cta.button:hover,
.entry-content .cta.button:focus {
	color: $cta-button-font-color-hover;
}
