%text-input-base {
	border-radius: $base-border-radius;
	border-width: 1px;
	border-style: solid;
	font-size: $form-font-size;
	font-weight: 400;
	padding: 10px;
	width: 100%;
}

%text-input-base-style {
	background-color: $input-background-color;
	border-color: $form-border-color;
	box-shadow: $form-box-shadow;
	color: $form-font-color;

	&:hover {
		border-color: $form-border-color-hover;
	}

	&:focus {
		border-color: $form-border-color-focus;
		box-shadow: $form-box-shadow-focus;
		outline: none;
	}
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
	@extend %text-input-base;
	@extend %text-input-base-style;
}

select {
	@extend %text-input-base-style;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input {
	&::placeholder {
		color: $form-placeholder-color;
		opacity: 1;
		font-weight: 400;
	}
}
