# Borrowed some elements from Drupal's git normalization
# @see https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html
# @see https://www.drupal.org/node/1542048

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.gif  -text diff
*.gz   -text diff
*.ico  -text diff
*.jpg  -text diff
*.png  -text diff

# Treat font files as binary.
*.otf  binary
*.eot  binary
*.svg  binary
*.ttf  binary
*.woff binary
