// This file controls all base color styles for our theme. All colors should be
// defined in _colors.scss. This allows us to at a glance determine global color
// styles of our theme and prevents arbitrary color assignment.

// Do not use the base theme colors in the scss partial files! Set up your theme's
// base colors and then use scoped color values in your Sass partials.

// Theme Colors (private vars)
//------------------------------------------------------------------------------
$off-black:   #1c1e1f;
$dark-gray:   #474e57;
$medium-gray: #5d646b;
$light-gray:  #a4a5a5;
$fog:         #ccc;
$medium-fog:  #e0e0e0;
$light-fog:   #f3f3f4;
$white:       #fff;
$light-blue:  #69c0fc;
$medium-blue: #1079c2;
$dark-blue:   #00376c;

// Global Base Colors
//------------------------------------------------------------------------------
$base-background-color:           $white;
$base-font-color:                 $dark-gray;
$base-border-color:               $medium-fog;
$base-accent-color:               $light-gray;
$base-heading-color:              $off-black;
$base-heading-color-hover:        $medium-blue;
$base-blockquote-color:           $medium-gray;
$base-link-color:                 $medium-blue;
$base-link-color-hover:           lighten($base-link-color, 10);
$base-alt-link-color:             $medium-gray;
$base-alt-link-color-hover:       $base-link-color;
$base-selection-background-color: $off-black;
$base-selection-color:            $white;
$base-insert-color:               lighten($light-blue, 45);

// Button Colors
//------------------------------------------------------------------------------
$base-button-background-color:       $off-black;
$base-button-background-color-hover: lighten($base-button-background-color, 10);
$base-button-font-color:             $white;
$base-button-font-color-hover:       $white;
$cta-button-background-color:        $light-blue;
$cta-button-background-color-hover:  lighten($cta-button-background-color, 10);
$cta-button-font-color:              $white;
$cta-button-font-color-hover:        $white;

// Form Colors
//------------------------------------------------------------------------------
$input-background-color:  $light-fog;
$form-font-color:         $base-font-color;
$form-border-color:       $base-border-color;
$form-border-color-hover: darken($base-border-color, 5);
$form-border-color-focus: darken($base-border-color, 20);
$form-placeholder-color:  darken($base-border-color, 10);

// Navigation Colors
//------------------------------------------------------------------------------
$nav-link-color:                $dark-gray;
$nav-link-color-hover:          $base-link-color;
$subnav-background-color:       $dark-gray;
$subnav-background-color-hover: $medium-gray;
$subnav-link-color:             $light-fog;
$subnav-link-color-hover:       $white;

// Mobile Menu Colors
//------------------------------------------------------------------------------
$menu-toggle-background-color:       transparent;
$menu-toggle-background-color-hover: transparent;
$menu-toggle-link-color:             $off-black;
$menu-toggle-color-hover:            $light-gray;
$menu-mobile-background-color:       lighten($off-black, 3);
$menu-mobile-color:                  lighten($nav-link-color, 30);
$menu-mobile-color-hover:            $base-link-color;
$menu-mobile-subnav-color:           lighten($nav-link-color, 15);

// Entry Colors
//------------------------------------------------------------------------------
$blockquote-border-color:               $light-fog;
$code-background-color:                 $light-fog;
$code-font-color:                       $off-black;
$entry-meta-font-color:                 $medium-gray;
$pre-background-color:                  $light-fog;
$corner-ribbon-background-color:        $base-accent-color;
$corner-ribbon-font-color:              $white;
$sticky-corner-ribbon-background-color: $base-link-color;
$sticky-corner-ribbon-font-color:       $white;
$gallery-caption-background-color:      $off-black;
$gallery-caption-font-color:            $white;

// SiteCare Colors
//------------------------------------------------------------------------------
$intro-paragraph-border-color:     $light-fog;

// Comment Section Colors
//------------------------------------------------------------------------------
$comments-font-color:                       $base-font-color;
$comment-header-background-color:           $light-fog;
$comment-author-header-background-color:    lighten($light-blue, 50);
$comment-table-background-color:            $white;
$comment-reply-link-background-color:       $light-fog;
$comment-reply-link-background-color-hover: $white;
$allowed-tags-background-color:             $light-fog;

// Pagination Colors
//------------------------------------------------------------------------------
$pagination-background-color:         $white;
$pagination-background-color-hover:   $light-fog;
$pagination-current-background-color: darken($light-fog, 4);
$pagination-link-color:               $base-font-color;
