// This file controls all base color styles for our theme. All colors should be
// defined in _colors.scss. This allows us to at a glance determine global color
// styles of our theme and prevents arbitrary color assignment.

// Do not use the base theme colors in the scss partial files! Set up your theme's
// base colors and then use scoped color values in your Sass partials.

// Theme Colors (private vars)
//------------------------------------------------------------------------------
$off-black:   #1c1e1f;
$dark-gray:   #474e57;
$medium-gray: #5d646b;
$light-gray:  #a4a5a5;
$fog:         #ccc;
$medium-fog:  #e0e0e0;
$light-fog:   #f3f3f4;
$white:       #fff;
$light-blue:  #69c0fc;
$medium-blue: #1079c2;
$dark-blue:   #00376c;

// Global Base Colors
//------------------------------------------------------------------------------
$base-background-color:           $white;
$base-font-color:                 $dark-gray;
$base-border-color:               $medium-fog;
$base-accent-color:               $light-gray;
$base-heading-color:              $off-black;
$base-heading-color-hover:        $medium-blue;
$base-blockquote-color:           $medium-gray;
$base-link-color:                 $medium-blue;
$base-link-color-hover:           lighten($base-link-color, 10);
$base-selection-background-color: $off-black;
$base-selection-color:            $white;
$base-insert-color:               lighten($light-blue, 45);
$cta-background-color:            $dark-gray;

// Button Colors
//------------------------------------------------------------------------------
$base-button-background-color:       $off-black;
$base-button-background-color-hover: lighten($base-button-background-color, 10);
$base-button-font-color:             $white;
$base-button-font-color-hover:       $white;
$cta-button-background-color:        $light-blue;
$cta-button-background-color-hover:  lighten($cta-button-background-color, 10);
$cta-button-font-color:              $white;
$cta-button-font-color-hover:        $white;

// Form Colors
//------------------------------------------------------------------------------
$input-background-color:  $white;
$form-font-color:         $base-font-color;
$form-border-color:       $base-border-color;
$form-border-color-hover: darken($base-border-color, 5);
$form-border-color-focus: darken($base-border-color, 20);
$form-placeholder-color:  darken($base-border-color, 10);

// Header Colors
//------------------------------------------------------------------------------
$header-background-color: $light-fog;
$header-border-color:     $base-border-color;
$header-font-color:       $dark-gray;
$header-link-color:       $off-black;

// Navigation Colors
//------------------------------------------------------------------------------
$nav-background-color:            $white;
$nav-border-color:                $base-border-color;
$nav-link-color:                  $dark-gray;
$nav-link-color-hover:            $base-link-color;

$menu-header-border-color:        $base-border-color;
$menu-header-color:               $light-gray;
$menu-header-color-hover:         $base-link-color;

$menu-primary-background-color:   $nav-background-color;
$menu-primary-border-color:       $base-border-color;
$menu-primary-link-color:         lighten($nav-link-color, 10);
$menu-primary-link-color-hover:   $base-link-color;

$menu-secondary-background-color: $nav-background-color;
$menu-secondary-border-color:     $base-border-color;
$menu-secondary-link-color:       lighten($nav-link-color, 10);
$menu-secondary-link-color-hover: $base-link-color;

// Mobile Menu Colors
//------------------------------------------------------------------------------
$menu-toggle-background-color:       transparent;
$menu-toggle-background-color-hover: transparent;
$menu-toggle-link-color:             $off-black;
$menu-toggle-color-hover:            $light-gray;
$menu-mobile-background-color:       lighten($off-black, 3);
$menu-mobile-border-color:           rgba(255, 255, 255, 0.1);
$menu-mobile-color:                  lighten($nav-link-color, 30);
$menu-mobile-color-hover:            $base-link-color;
$menu-mobile-subnav-color:           lighten($nav-link-color, 15);

// Entry Colors
//------------------------------------------------------------------------------
$entry-background-color:           $white;
$entry-border-color:               $base-border-color;
$entry-sticky-border-color:        $dark-gray;
$blockquote-border-color:          $light-fog;
$table-border-color:               $base-border-color;
$code-background-color:            $light-fog;
$code-border-color:                darken($base-border-color, 10);
$code-font-color:                  $off-black;
$entry-meta-font-color:            $medium-gray;
$entry-meta-link-color:            $medium-gray;
$entry-meta-link-color-hover:      $base-link-color;
$entry-meta-link-border-color:     $base-link-color;
$featured-media-background-color:  $light-fog;
$pre-background-color:             $light-fog;
$corner-ribbon-background-color:   $base-accent-color;
$corner-ribbon-font-color:         $white;
$gallery-caption-background-color: $off-black;
$gallery-caption-font-color:       $white;

// SiteCare Colors
//------------------------------------------------------------------------------
$intro-paragraph-border-color:     $light-fog;
$author-box-background-color:      $white;
$author-box-border-color:          $base-border-color;
$author-box-link-color:            $base-link-color;
$author-box-link-color-hover:      $base-link-color-hover;
$author-box-meta-link-color:       $entry-meta-link-color;
$author-box-meta-link-color-hover: $entry-meta-link-color-hover;

// Icon Colors
//------------------------------------------------------------------------------
$media-info-toggle-color:          $light-fog;
$media-player-button-color:        $white;
$media-player-unmute-button-color: $dark-gray;

// Comment Section Colors
//------------------------------------------------------------------------------
$comments-background-color:                 $white;
$comments-font-color:                       $base-font-color;
$comment-background-color:                  $white;
$comment-border-color:                      $base-border-color;
$comment-header-background-color:           $light-fog;
$comment-author-header-background-color:    lighten($light-blue, 50);
$comment-meta-link-color:                   $entry-meta-link-color;
$comment-meta-link-color-hover:             $entry-meta-link-color-hover;
$comment-meta-link-border-color:            $entry-meta-link-border-color;
$comment-table-background-color:            $white;
$comment-reply-link-background-color:       $light-fog;
$comment-reply-link-background-color-hover: $white;
$comment-reply-link-color:                  $base-font-color;
$comment-reply-link-color-hover:            $base-link-color;
$allowed-tags-background-color:             $light-fog;

// Pagination Colors
//------------------------------------------------------------------------------
$pagination-background-color:         $white;
$pagination-background-color-hover:   $light-fog;
$pagination-current-background-color: darken($light-fog, 4);
$pagination-link-color:               $base-font-color;
$pagination-border-color:             $base-border-color;
$pagination-border-color-hover:       darken($pagination-border-color, 2);

$nav-single-background-color:         $pagination-background-color;
$nav-single-background-color-hover:   $pagination-background-color-hover;
$nav-single-link-color:               $pagination-link-color;
$nav-single-border-color:             $pagination-border-color;
$nav-single-border-color-hover:       $pagination-border-color-hover;

$page-links-background-color:         $pagination-background-color;
$page-links-background-color-hover:   $pagination-background-color-hover;
$page-links-current-background-color: $pagination-current-background-color;
$page-links-link-color:               $pagination-link-color;
$page-links-border-color:             $pagination-border-color;
$page-links-border-color-hover:       $pagination-border-color-hover;

// Base Widget Colors
//------------------------------------------------------------------------------
$widget-background-color: $white;
$widget-link-color:       $medium-gray;
$widget-link-color-hover: $base-link-color;

// Footer Widgets Colors
//------------------------------------------------------------------------------
$footer-widgets-background-color:              $light-fog;
$footer-widgets-font-color:                    $base-font-color;
$footer-widgets-heading-color:                 $base-heading-color;
$footer-widgets-link-color:                    $medium-gray;
$footer-widgets-link-color-hover:              $base-link-color-hover;
$footer-widgets-border-color:                  $base-border-color;
$footer-widgets-button-background-color:       $base-button-background-color;
$footer-widgets-button-font-color:             $base-button-font-color;
$footer-widgets-button-background-color-hover: $base-button-background-color-hover;
$footer-widgets-button-font-color-hover:       $base-button-font-color-hover;

// Footer Colors
//------------------------------------------------------------------------------
$footer-background-color: $white;
$footer-font-color:       $base-font-color;
$footer-border-color:     $base-border-color;
$footer-link-color:       $medium-gray;
$footer-link-color-hover: $base-link-color;
