// Overall Content Max Width
//------------------------------------------------------------------------------
$max-width: 1140px;

// Global Screen Sizes
//------------------------------------------------------------------------------
$smallest-screen:  $max-width - 820px; // 320px;
$smaller-screen:   $max-width - 660px; // 480px;
$small-screen:     $max-width - 330px; // 810px;
$medium-screen:    $max-width - 117px; // 1023px
$large-screen:     $max-width + 40px;  // 1180px

// Global Max Width Settings
//------------------------------------------------------------------------------
$base-wrap-max-width:    $max-width - 372px; // 768px;
$wrap-max-width-medium:  $max-width - 180px; // 960px
$wrap-max-width-large:   $max-width;

// Global Spacing
//------------------------------------------------------------------------------
$base-vertical-spacing: 0.5em;
$base-margin:           30px;
$base-padding:          40px;
$base-padding-small:    20px;

// Layout Spacing
//------------------------------------------------------------------------------
$site-inner-padding: 30px;

// Content Spacing
//------------------------------------------------------------------------------
$content-margin:         26px;
$content-margin-small:   16px;
$article-padding:        $base-padding $base-padding ($base-padding - $content-margin);
$article-padding-small:  $base-padding-small $base-padding-small ($base-padding-small - $content-margin-small);

$author-box-padding:       $article-padding;
$author-box-padding-small: $article-padding-small;

// Comment Spacing
//------------------------------------------------------------------------------
$comments-padding:        $article-padding;
$comments-padding-small:  $article-padding-small;
$comment-padding:         20px 20px 0;
$comment-padding-small:   10px 10 0;
$comment-margin:          20px;
$comment-margin-small:    10px;

// Widget Spacing
//------------------------------------------------------------------------------
$widget-padding: 30px;

// Navigation Spacing
//------------------------------------------------------------------------------
$menu-mobile-item-padding: 20px;

// Form Spacing
//------------------------------------------------------------------------------
$form-input-padding: 10px;
