// Typography
//------------------------------------------------------------------------------
@mixin base-font-size {
	font-size: $base-font-size-medium;

	@include media($medium-screen-up) {
		font-size: $base-font-size;
	}
}

@mixin h1-font-size {
	font-size: $h1-font-size-small;

	@include media($small-screen-up) {
		font-size: $h1-font-size;
	}
}

@mixin h2-font-size {
	font-size: $h2-font-size-small;

	@include media($small-screen-up) {
		font-size: $h2-font-size;
	}
}

@mixin h3-font-size {
	font-size: $h3-font-size-small;

	@include media($small-screen-up) {
		font-size: $h3-font-size;
	}
}

@mixin h4-font-size {
	font-size: $h4-font-size-small;

	@include media($small-screen-up) {
		font-size: $h4-font-size;
	}
}

@mixin h5-font-size {
	font-size: $h5-font-size-small;

	@include media($small-screen-up) {
		font-size: $h5-font-size;
	}
}

// Content Area
//------------------------------------------------------------------------------
@mixin entry-content() {
	p,
	> ol,
	> ul,
	> dl {
		margin-bottom: $content-margin-small;

		@include media($small-screen-up) {
			margin-bottom: $content-margin;
		}
	}

	ol,
	ul {
		margin-left: 20px;

		@include media($small-screen-up) {
			margin-left: $base-padding;
		}
	}

	li {
		margin-bottom: 1%;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	li ol,
	li ul {
		margin-top: 1%;
	}

	blockquote {
		border-left: 7px solid $blockquote-border-color;
		margin: 4% 5% 4% 0;
		padding: 0 0 0 5%;
	}

	table {
		border-collapse: separate;
		border: 1px solid $table-border-color;
		border-left: 0;
		margin: 20px 0;
		width: 100%;
	}

	table th,
	table td {
		border-left: 1px solid $table-border-color;
		border-top: 1px solid $table-border-color;
		line-height: 1.2;
		padding: 10px;
		text-align: left;
		vertical-align: top;
	}

	table thead:first-child tr:first-child th,
	table tbody:first-child tr:first-child th,
	table tbody:first-child tr:first-child td {
		border-top: 0 none;
	}

	code {
		background: $code-background-color;
		border: 1px solid $code-border-color;
		color: $code-font-color;
		padding: 2px 4px;
	}

	.wp-caption .wp-caption-text {
		margin: 10px 0;
		font-size: $wp-caption-font-size;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 1.2;
	}

	.search-form {
		margin-bottom: $content-margin;
	}
}
