// http://thoughtbot.github.io/neat-docs/latest/

// Visual Grid Settings (Development Only)
//------------------------------------------------------------------------------
$visual-grid:         false;
$visual-grid-color:   #33b787;
$visual-grid-index:   back;
$visual-grid-opacity: 0.1;
$border-box-sizing:   false;
$em-base:             18px;

// Max Width Settings - Used As a Base for All Layouts
//------------------------------------------------------------------------------
$max-width: 1140px;
