// https://10up.github.io/sanitize.css/

// Sanitize.css Overrides
//------------------------------------------------------------------------------
$root-font-family:           $base-font-family;
$root-font-size:             $base-font-size-medium;
$root-line-height:           $base-line-height;
$html-background-color:      $base-background-color;
$html-color:                 $base-font-color;
$monospace-font-family:      $monospace;
$selection-background-color: $base-selection-background-color;
