/* Screen Readers
--------------------------------------------- */

%off-screen {
	border: 0;
	clip: rect( 0 0 0 0 );
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;

	&:focus {
		outline: 0;
	}
}

.off-screen,
.screen-reader-text {
	@extend %off-screen;
}

.skip-link .screen-reader-text:focus {
	clip: auto;
	height: auto;
	margin: 20px;
	padding: 15px;
	width: auto;
	z-index: $screen-reader-z-index;
}

/* Avatar
--------------------------------------------- */

.avatar {
	border-radius: $base-border-radius;
	display: block;

	@include min-screen( $smaller-screen ) {
		.alignleft & {
			margin-right: 24px;
		}
	}
}

/* Image Styles
--------------------------------------------- */

img.centered,
.aligncenter,
.alignleft,
.alignright,
img.alignnone,
.alignnone {
	display: block;
	margin: 0 auto $content-margin-small;
	max-width: 100%;

	@include min-screen( $small-screen ) {
		margin-bottom: $content-margin;
	}
}

@include min-screen( $smaller-screen ) {
	.alignleft {
		float: left;
		text-align: left;
	}

	.alignright {
		float: right;
		text-align: right;

		.avatar {
			margin-left: 30px;
		}
	}

	a.alignleft,
	img.alignleft,
	.wp-caption.alignleft {
		margin: 0 30px 50px 0;
	}

	a.alignright,
	img.alignright,
	.wp-caption.alignright {
		margin: 0 0 50px 30px;
	}
}

.wp-caption-text {
	text-align: center;
}

.wp-smiley,
.emoji {
	background: none;
	border: 0;
	box-shadow: none;
	display: inline;
	height: 1em;
	margin: 0 0.2em;
	padding: 0;
	vertical-align: -0.1em;
	width: 1em;
}

/* Typography Formats
--------------------------------------------- */

.dropcap {
	float: left;
	font-size: 300%;
	line-height: 0.6;
	margin: 0.7rem 0.5rem 0 0;
}

@include min-screen( $small-screen ) {
	.pull-quote {
		max-width: 60%;

		&.alignright {
			border-left: 0;
			border-right: 7px solid $blockquote-border-color;
			margin: $base-margin 0 $base-margin 5%;
			padding: 0 5% 0 0;
		}
	}
}

.intro-pagragraph {
	border-bottom: 1px solid $intro-paragraph-border-color;
	border-top: 1px solid $intro-paragraph-border-color;
	padding: 20px 0;
}
