.comments-number {
	margin-bottom: 15px;
}

.comment-container {
	background-color: $comment-background-color;
	margin-bottom: $base-margin;

	@include min-screen($small-screen) {
		border: 1px solid $comment-border-color;
	}

	table {
		background-color: $comment-table-background-color;
	}
}

.comment {
	position: relative;
	padding-left: 40px;

	@include min-screen($small-screen) {
		padding-left: 60px;
	}

	header {
		background-color: $comment-header-background-color;
		clear: both;
		font-size: $medium-font-size;
		padding: 5px;
		position: relative;

		@include min-screen($small-screen) {
			border-bottom: 1px solid $comment-border-color;
			padding: 10px 20px;
		}

		&::before,
		&::after {
			border-color: transparent;
			border-style: solid solid outset;
			content: " ";
			display: block;
			height: 0;
			left: -16px;
			margin-top: -8px;
			pointer-events: none;
			position: absolute;
			right: 100%;
			top: 50%;
			width: 0;
		}

		&::before {
			border-right-color: transparent;
			border-width: 8px;

			@include min-screen($small-screen) {
				border-right-color: $comment-border-color;
			}
		}

		&::after {
			border-right-color: $comment-header-background-color;
			border-width: 7px;
			margin-top: -7px;
			margin-left: 2px;
			top: 50%;
		}

		cite {
			margin-right: 5px;
		}

		.comment-edit-link {
			margin-left: 5px;
		}
	}

	.avatar {
		position: absolute;
		left: 0;
		margin: 0;
		width: 30px;

		@include min-screen($small-screen) {
			width: 48px;
		}
	}

	.comment {
		border: 0;
		margin-left: -40px;
		margin-top: 20px;
		padding-bottom: 0;

		@include min-screen($small-screen) {
			margin-left: -30px;
		}
	}

	.comment:last-child {
		margin-bottom: 0;
	}

	footer {
		@include min-screen($small-screen) {
			padding: 0 20px 20px;
		}
	}

}

.bypostauthor > .comment-container {
	header {
		background-color: $comment-author-header-background-color;

		&::after {
			border-right-color: $comment-author-header-background-color;
		}
	}
}

.comment-meta {

	a {
		color: $comment-meta-link-color;

		&:hover,
		&:focus {
			color: $comment-meta-link-color-hover;
		}
	}
}

/* Comment Content
--------------------------------------------- */
.comment-content {
	@include entry-content();
	clear: both;
	padding-top: 10px;

	@include min-screen($small-screen) {
		padding: $comment-padding;
	}
}

/* Pingbacks & Trackbacks
--------------------------------------------- */
.pingback,
.trackback {
	background-color: $comment-background-color;
	border: 1px solid $comment-border-color;
	margin-bottom: 20px;
	padding: 10px 20px;
}

/* Comment Respond Form
--------------------------------------------- */
.comment-respond {
	background-color: $comments-background-color;
	border: 1px solid $comment-border-color;
	margin-bottom: $base-margin;
	padding: $comments-padding-small;

	@include min-screen($small-screen) {
		padding: $comments-padding;
	}

	label {
		display: block;
	}

	.submit {
		display: block;
		width: 100%;

		@include min-screen($small-screen) {
			display: inline-block;
			width: auto;
		}
	}
}

.form-allowed-tags {
	background-color: $allowed-tags-background-color;
	font-size: $medium-font-size;
	padding: 10px;

	@include min-screen($small-screen) {
		padding: 20px;
	}
}
