/* Archives
--------------------------------------------- */

.archive-title {
	@include h1-font-size();
	font-weight: 600;
}

.archive-description {
	margin-bottom: $base-margin;

	p:last-child {
		margin-bottom: 0;
	}
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: $base-margin;
	padding: 0;
	position: relative;
}

.entry-title {
	font-weight: 600;

	a {
		color: $base-heading-color;

		&:hover,
		&:focus {
			color: $base-heading-color-hover;
		}
	}
}

.corner-ribbon {
	height: 85px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 85px;

	.ribbon-content {
		background-color: $corner-ribbon-bg-color;
		color: $corner-ribbon-font-color;
		font-size: $small-font-size;
		font-weight: 800;
		margin: 0;
		padding: 2px 7px;
		text-align: center;
	}
}

.entry-content {
	@include entry-content();
}

/* Entry Meta
--------------------------------------------- */

.entry-meta {
	color: $entry-meta-font-color;
	font-size: $base-font-size;
	margin-bottom: 0;

	span,
	time,
	a {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		@include alt-link-color();
	}

	&.categories .entry-terms {
		@include icon-before( "\f21b" );
	}

	&.tags .entry-terms {
		@include icon-before( "\f21c" );
	}
}

.entry-terms {
	display: block;
	padding-bottom: 5px;

	&:last-child {
		padding-bottom: 0;
	}

	span,
	time,
	a {
		margin-right: 0;
	}
}

.entry-header .entry-meta {
	margin-bottom: $content-margin-small;

	@include min-screen( $small-screen ) {
		margin-bottom: $content-margin;
	}
}

.entry-footer {

	.entry-meta {
		margin: 0;

		&:last-of-type {
			padding: 0 0 $content-margin;
		}
	}
}

/* Featured Media
--------------------------------------------- */

.featured-media {
	display: block;
	margin: 0 0 $content-margin;
	overflow: hidden;

	> a {
		display: block;
		line-height: 0;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

/* Author Box
--------------------------------------------- */
.author-box {
	@include clearfix;
	margin-bottom: $base-margin;

	.avatar-wrap {
		@include min-screen( $medium-screen ) {
			@include span( 2 of 12 );
		}
	}

	.avatar {
		border-radius: $base-border-radius;
		margin: 0 auto;
	}

	.author-info {
		@include min-screen( $medium-screen ) {
			@include span( last 10 of 12 );
		}

		p:last-of-type {
			margin-bottom: 10px;
		}
	}

	.social-icons {
		li {
			display: inline-block;
			font-size: 14px;
			letter-spacing: 2px;
			margin-right: 20px;
			text-transform: uppercase;

			&:last-of-type {
				margin-right: 0;
			}
		}

		a {
			@include alt-link-color;
			display: block;
			padding: 5px 0;
		}
	}
}

.social-icon-facebook span {
	@include icon-before( "\f104" );
}

.social-icon-twitter span {
	@include icon-before( "\f114" );
}

.social-icon-gplus span {
	@include icon-before( "\f108" );
}

.social-icon-rss span {
	@include icon-before( "\f20e" );
}
