.nav-menu {
	clear: both;
	font-size: 0.001px;
	line-height: 1;
	width: 100%;

	.menu-item {
		display: inline-block;
		font-size: $nav-font-size;
		text-align: left;
	}

	li > a {
		color: $nav-link-color;
		display: block;
		padding: 25px 15px;

		@include min-screen($large-screen) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	li a:hover,
	li a:focus,
	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current-menu-parent > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		color: $nav-link-color-hover;
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		width: 200px;
		z-index: $sub-menu-z-index;

		a {
			background-color: $subnav-background-color;
			color: $subnav-link-color;
			font-size: $subnav-font-size;
			padding: 20px;
			position: relative;
			width: 200px;

			&:hover,
			&:focus {
				color: $subnav-link-color-hover;
				background-color: $subnav-background-color-hover;
			}
		}

		.current-menu-item > a:hover,
		.current-menu-item > a:focus {
			color: $subnav-link-color-hover;
		}

		.sub-menu {
			margin: -54px 0 0 200px;
		}
	}

	.menu-item:hover,
	.menu-item-hover,
	.menu-item:focus {
		position: static;
	}

	.menu-item:hover > .sub-menu,
	.menu-item-hover > .sub-menu,
	.menu-item:focus > .sub-menu {
		left: auto;
		opacity: 1;
	}

	> .menu-item > a {
		text-transform: uppercase;
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		color: $nav-link-color;
		float: right;
		list-style-type: none;

		> a {
			display: inline;
			padding: 0;
		}
	}

	> .rss > a {
		margin-left: 48px;
	}

	> .search {
		padding: 10px 0 0;
	}
}

/* Primary Navigation
--------------------------------------------- */

.menu-primary {
	display: none;

	@include min-screen($medium-screen) {
		@include span(9 of 12);
		@include last();
		display: block;
		text-align: right;
	}

	li > a {
		padding-top: 23px;
		padding-bottom: 23px;
	}
}

.no-menu {
	display: none;
	margin: 0;
	padding: 2px 0;

	@include min-screen($medium-screen) {
		display: block;
	}

	.button {
		padding: 8px 20px;
		margin: 8px 0 8px 20px;
	}
}


/* Secondary Navigation
--------------------------------------------- */

.menu-secondary {
	background-color: $menu-secondary-background-color;
	display: none;

	@include min-screen($medium-screen) {
		display: block;
	}

	li > a {
		color: $menu-secondary-link-color;
	}

	li > a:hover,
	li > a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		color: $menu-secondary-link-color-hover;
	}
}

/* Responsive Menu
--------------------------------------------- */

body {
	transition: left $responsive-menu-transition;
	position: relative;
	left: 0;

	&.menu-open {
		left: -260px;
	}
}

.menu-toggle {
	background: $menu-toggle-background-color;
	border-radius: $base-border-radius;
	color: $menu-toggle-link-color;
	cursor: pointer;
	display: block;
	margin: 0 0 0 auto;
	padding: 0;

	@include min-screen($medium-screen) {
		display: none;
	}

	&:hover,
	&:focus,
	&:active {
		background: $menu-toggle-background-color-hover;
		color: $menu-toggle-color-hover;
		outline: none;

		@include min-screen($medium-screen) {
			display: none;
		}
	}

	&::before {
		font-size: $menu-toggle-font-size;
	}
}

.menu-mobile {
	background: $menu-mobile-background-color;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: -260px;
	transition: right $responsive-menu-transition;
	top: 0;
	width: 260px;
	z-index: $menu-mobile-z-index;

	&:focus {
		outline: none;
	}

	&.visible {
		right: 0;
	}

	.wrap {
		padding: 0;
	}

	.nav-menu {
		.menu-item {
			display: block;
		}

		li a {
			color: $menu-mobile-color;
			padding: $menu-mobile-item-padding;
		}

		li a:hover,
		li a:focus {
			background: lighten($menu-mobile-background-color, 3);
			color: $menu-mobile-color-hover;
		}
	}

	.sub-menu,
	.sub-menu .sub-menu {
		background: transparent;
		box-shadow: none;
		margin: 0;
		opacity: 1;
		position: static;
		width: 100%;

		li a {
			background: $menu-mobile-background-color;
			color: $menu-mobile-subnav-color;
			padding: $menu-mobile-item-padding;
			padding-left: $menu-mobile-item-padding + 10px;
			width: auto;
		}

		li a:hover,
		li a:focus {
			background: lighten($menu-mobile-background-color, 3);
			color: $menu-mobile-color-hover;
		}
	}

	.sub-menu .sub-menu li a {
		padding-left: $menu-mobile-item-padding + 20px;
	}
}
