/* Archive Pagination
--------------------------------------------- */

.pagination {
	display: block;
	margin-bottom: 20px;
	text-align: center;

	.page-numbers {
		transition: all 0.2s ease-in-out;
		background: $pagination-background-color;
		border-radius: $base-border-radius;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px;
	}

	.current {
		background: $pagination-current-background-color;
	}

	a {
		color: $pagination-link-color;

		&:hover,
		&:focus {
			background: $pagination-background-color-hover;
		}
	}
}

/* Single Post Pagination
--------------------------------------------- */

.page-links {
	display: block;
	margin: $base-margin 0;

	span,
	a {
		transition: all 0.2s ease-in-out;
		border-radius: $base-border-radius;
		color: $page-links-link-color;
		display: inline-block;
		padding: 5px 15px;
	}

	span {
		background: $page-links-current-background-color;
	}

	a {
		background: $page-links-background-color;

		&:hover,
		&:focus {
			background: $page-links-background-color-hover;
			color: $page-links-link-color;
		}
	}
}


/* Page Links
--------------------------------------------- */
.nav-next a {

	@include min-screen($medium-screen) {
		float: right;
	}
}

.nav-previous a {

	@include min-screen($medium-screen) {
		float: left;
	}
}

.nav-next a,
.nav-previous a {
	background: $nav-single-background-color;
	border-radius: $base-border-radius;
	color: $nav-single-link-color;
	display: block;
	margin: 0 0 10px;
	padding: 16px 20px 14px;
	text-align: center;
}

.nav-next a:hover,
.nav-previous a:hover,
.nav-next a:focus,
.nav-previous a:focus {
	background: $nav-single-background-color-hover;
	color: $nav-single-link-color;
}

/* Archive Page Links
--------------------------------------------- */

.nav-archive {
	display: block;
	clear: both;
	font-size: $pagination-font-size;
	letter-spacing: 1px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0;
	text-transform: uppercase;
}

/* Single Entry Page Links
--------------------------------------------- */

.nav-single {
	display: block;
	clear: both;
	font-size: $pagination-font-size;
	letter-spacing: 1px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 0;
	text-transform: uppercase;
}
