/* Jetpack
--------------------------------------------- */
#wpstats {
	display: none;
}

/* WordPress SEO
--------------------------------------------- */

.breadcrumbs {
	font-size: $base-font-size;
	margin-bottom: 15px;

	.sep {
		padding: 0 4px;
	}
}

/* Content Highlighter
--------------------------------------------- */

.featured-content img {
	width: auto;
}

/* Beaver Builder
--------------------------------------------- */
.fl-builder-settings-fields select,
.fl-builder-settings-fields select:focus {
	@extend %select-base;
}
