/* Gravity Forms
--------------------------------------------- */
div.gform_wrapper {

	input[type="email"],
	input[type="text"],
	textarea,
	.ginput_complex label {
		font-size: $base-font-size;
		padding: 16px;
	}

	.ginput_complex label {
		padding: 0;
	}

	li,
	form li {
		margin: 16px 0 0;
	}

	.gform_footer input[type=submit] {
		font-size: $base-font-size;
		padding: 16px 24px;
	}
}

/* Jetpack
--------------------------------------------- */
#wpstats {
	display: none;
}

/* WordPress SEO
--------------------------------------------- */

.breadcrumbs {
	font-size: $base-font-size;
	margin-bottom: 15px;

	.sep {
		padding: 0 4px;
	}
}

/* Content Highlighter
--------------------------------------------- */

.featured-content img {
	width: auto;
}
