/* General sidebars
--------------------------------------------- */
.sidebar {
	font-size: $widget-font-size;

	a {
		color: $widget-link-color;

		&:hover,
		&:focus {
			color: $widget-link-color-hover;
		}
	}

	li {
		margin-bottom: 10px;
		padding-bottom: 10px;
		position: relative;
	}

	p:last-child,
	ul > li:last-child {
		margin-bottom: 0;
	}

	.widget-title a {
		color: $base-heading-color;
	}

	.widget_search {
		padding: 10px;

		.widget-title {
			margin: 0;
			padding: 15px 15px 0;
		}
	}
}

/* Footer Widgets
--------------------------------------------- */
.footer-widgets {
	background-color: $footer-widgets-background-color;
	color: $footer-widgets-font-color;
	font-size: $footer-widgets-font-size;
	padding: $base-padding 0 10px;

	@include min-screen($medium-screen) {
		.widget {
			@include span(4 of 12);

			&:nth-of-type(3n) {
				@include last();
			}
		}
	}

	.widget-title {
		color: $footer-widgets-heading-color;
	}

	a {
		color: $footer-widgets-link-color;

		&:hover {
			color: $footer-widgets-link-color-hover;
		}
	}

	li {
		margin-bottom: 5px;
		padding-bottom: 5px;
	}

	p:last-child,
	ul > li:last-child {
		margin-bottom: 0;
	}

	.entry {
		margin-bottom: 10px;
	}
}
