/* Typography Formats
--------------------------------------------- */

.dropcap {
	float: left;
	font-size: 300%;
	line-height: 0.6;
	margin: 0.7rem 0.5rem 0 0;
}

@include min-screen( $small-screen ) {
	.pull-quote {
		max-width: 60%;

		&.alignright {
			border-left: 0;
			border-right: 7px solid $blockquote-border-color;
			margin: $base-margin 0 $base-margin 5%;
			padding: 0 5% 0 0;
		}
	}
}

.intro-pagragraph {
	border-bottom: 1px solid $intro-paragraph-border-color;
	border-top: 1px solid $intro-paragraph-border-color;
	padding: 20px 0;
}
