// Links
a[href^="mailto:"]::before,
a[href^="tel:"]::before,

// Menu
.menu-toggle::before,
.menu-toggle.activated::before,

// Search
.search-form button::before,

// Media player
.mejs-controls .mejs-button button::after,
.mejs-overlay-button::after,
.media-info-toggle::after,

// Playlists
.wp-playlist-playing .wp-playlist-caption::before,
.wp-playlist-item-meta::before,

// Posts
.entry-author a::before,
.entry-published::before,
.entry-comments-link::before,
.post-edit-link::before,
.entry-permalink::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.chat-author cite::before,

// Author box
.social-icons li a::before,

// Comments
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before,
.comment-reply-link::before,
.comment-reply-login::before,

// Comments
.comments-number::before,

// Respond
.comment-reply-title::before,
.comment-respond label[for="author"]::before,
.comment-respond label[for="email"]::before,
.comment-respond label[for="url"]::before,
.comment-respond label[for="comment"]::before {
	@extend %sic;
}

/* Theme Icon Padding
--------------------------------------------- */
a[href^="mailto:"]::before,
a[href^="tel:"]::before,
.entry-author a::before,
.chat-author cite::before,
.entry-published::before,
.entry-comments-link::before,
.post-edit-link::before,
.entry-permalink::before,
.post-format-link::before,
.entry-terms::before,
.image-sizes::before,
.comment-published::before,
.comment-edit-link::before,
.comment-author::before,
.comment-permalink::before {
	padding-right: 3px;
	padding-bottom: 2px;
}

/* Link Icons
--------------------------------------------- */
a[href^="mailto:"]::before {
	content: $sic-mail;
}

a[href^="tel:"]::before {
	content: $sic-iphone;
}

/* Menu Icon
--------------------------------------------- */
.menu-toggle::before {
	content: $sic-menu;
}

.menu-toggle.activated::before {
	content: $sic-close;
}

/* Search Icon
--------------------------------------------- */
.search-form button::before {
	content: $sic-search;
}

/* Post Icons
--------------------------------------------- */
.entry-author a::before {
	content: $sic-person;
}

.entry-published::before {
	content: $sic-calendar;
}

.entry-comments-link::before {
	content: $sic-chat;
}

.post-edit-link::before {
	content: $sic-edit;
}

.entry-permalink::before {
	content: $sic-link;
}

.entry-terms.post_tag::before {
	content: $sic-tag;
}

.entry-terms.category::before {
	content: $sic-folder;
}

.image-sizes::before {
	content: $sic-gallery;
}

/* Author Box Icons
--------------------------------------------- */
.social-gplus a::before {
	content: $sic-googleplus;
}

.social-twitter a::before {
	content: $sic-twitter;
}

.social-facebook a::before {
	content: $sic-facebook;
}

.social-rss a::before {
	content: $sic-feed;
}

/* Comment Entry Icons
--------------------------------------------- */
.comment-published::before {
	content: $sic-time;
}

.comment-author::before {
	content: $sic-person;
}

.ping .comment-author::before {
	content: $sic-link;
}

.comment-edit-link::before {
	content: $sic-edit;
}

/* Comment Reply Icons
--------------------------------------------- */
.comment-reply-title::before {
	content: $sic-reply;
	padding: 0 3px 1px 0;
}

.comment-reply-link::before,
.comment-reply-login::before {
	content: $sic-reply;
	margin-bottom: 3px;
	padding-right: 5px;
}

.comment-respond label[for="author"]::before,
.comment-respond label[for="email"]::before,
.comment-respond label[for="url"]::before,
.comment-respond label[for="comment"]::before {
	margin-bottom: 3px;
	padding: 0 5px;
	color: $comments-font-color;
}

.comment-respond label[for="author"]::before {
	content: $sic-person;
}

.comment-respond label[for="email"]::before {
	content: $sic-mail;
}

.comment-respond label[for="url"]::before {
	content: $sic-link;
}

.comment-respond label[for="comment"]::before {
	content: $sic-chat;
}

/* Media Info Toggle Icon
--------------------------------------------- */
.media-info-toggle::after {
	content: $sic-chevron-down;
	color: $media-info-toggle-color;
	padding-left: 5px;
	vertical-align: top;
}

.media-info-toggle.active::after {
	content: $sic-chevron-up;
}

/* Media Player Icons
--------------------------------------------- */
.mejs-button button::after {
	color: $media-player-button-color;
}

.mejs-unmute button::after {
	color: $media-player-unmute-button-color;
}

.mejs-fullscreen-button button::after {
	content: $sic-plus;
}

.mejs-play button::after {
	content: $sic-play;
}

.mejs-pause button::after {
	content: $sic-pause;
}

.mejs-volume-button button::after {
	content: $sic-volume-on;
}
