// Load Susy
@import "../../bower/scss/susy/susy";

// Load Media Queries Mixins
@import "../../bower/scss/media-queries";

// Load Theme Mixins
@import "mixins/global";

// Load Global Settings
@import "settings/susy";

// Load Global Variables
@import "variables/colors";
@import "variables/layout";
@import "variables/misc";
@import "variables/typography";
@import "variables/z-index";

/*
Defaults
----------------------------------------------------------------------------- */
@import "partials/defaults/base";


/*
Common Classes
----------------------------------------------------------------------------- */
@import "partials/common-classes";


/*
SiteCare Styles
----------------------------------------------------------------------------- */
@import "partials/sitecare";


body {
	@include span(9 of 12);
}

/*
Content Area
----------------------------------------------------------------------------- */
@include entry-content();
